In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Atuona,PF,2021-02-04 03:32:59,-9.8000,-139.0333,78.49,67,5,9.48
1,1,Leningradskiy,RU,2021-02-04 03:32:24,69.3833,178.4167,-26.52,85,11,6.85
2,2,Rikitea,PF,2021-02-04 03:37:16,-23.1203,-134.9692,78.06,71,0,12.66
3,3,Mar Del Plata,AR,2021-02-04 03:37:16,-38.0023,-57.5575,66.20,77,20,10.36
4,4,Jamestown,US,2021-02-04 03:37:16,42.0970,-79.2353,21.99,86,1,16.11

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [19]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)
# # 1. Assign the locations to an array of latitude and longitude pairs.
# locations = [latitude, longitude]
# # 2. Assign the weights variable to some values.
# temperatures = # an array of length equal to the locations array length
# # 3. Assign the figure variable to the gmaps.figure() attribute.
# fig = gmaps.figure()
# # 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
# heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# # 5. Add the heatmap layer.
# fig.add_layer(heatmap_layer)
# # 6. Call the figure to plot the data.
# fig

# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]


# Assign the figure variable.
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
# Assign the heatmap variable.
# heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = clouds, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
winds = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = winds, dissipating=False, max_intensity=100, point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [24]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                      (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Atuona,PF,2021-02-04 03:32:59,-9.8000,-139.0333,78.49,67,5,9.48
2,2,Rikitea,PF,2021-02-04 03:37:16,-23.1203,-134.9692,78.06,71,0,12.66
10,10,Sinjai,ID,2021-02-04 03:37:16,-5.1241,120.2530,82.17,74,100,0.54
16,16,Cooma,AU,2021-02-04 03:37:17,-36.2333,149.1333,75.20,38,75,12.66
20,20,Saint-Louis,SN,2021-02-04 03:37:18,16.3333,-15.0000,75.20,31,0,2.30
25,25,Nabire,ID,2021-02-04 03:37:18,-3.3667,135.4833,85.66,65,98,1.97
33,33,Cruzeiro Do Sul,BR,2021-02-04 03:37:19,-29.5128,-51.9853,79.00,93,100,1.01
35,35,Vao,NC,2021-02-04 03:37:19,-22.6667,167.4833,78.87,87,14,15.61
38,38,Kieta,PG,2021-02-04 03:37:20,-6.2167,155.6333,83.98,76,64,10.58
46,46,Vaitape,PF,2021-02-04 03:37:21,-16.5167,-151.7500,78.44,77,99,10.00

In [25]:
preferred_cities_df.count()

City_ID       143
City          143
Country       143
Date          143
Lat           143
Lng           143
Max Temp      143
Humidity      143
Cloudiness    143
Wind Speed    143
dtype: int64

In [27]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
0            Atuona      PF     78.49  -9.8000 -139.0333
2           Rikitea      PF     78.06 -23.1203 -134.9692
10           Sinjai      ID     82.17  -5.1241  120.2530
16            Cooma      AU     75.20 -36.2333  149.1333
20      Saint-Louis      SN     75.20  16.3333  -15.0000
25           Nabire      ID     85.66  -3.3667  135.4833
33  Cruzeiro Do Sul      BR     79.00 -29.5128  -51.9853
35              Vao      NC     78.87 -22.6667  167.4833
38            Kieta      PG     83.98  -6.2167  155.6333
46          Vaitape      PF     78.44 -16.5167 -151.7500

In [ ]:
https://maps.googleapis.com/maps/api/place/nearbysearch/output?parameters

In [29]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [31]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params = params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [33]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Atuona,PF,78.49,-9.8000,-139.0333,Villa Enata
2,Rikitea,PF,78.06,-23.1203,-134.9692,Pension Maro'i
10,Sinjai,ID,82.17,-5.1241,120.2530,Wisma Sandika
16,Cooma,AU,75.20,-36.2333,149.1333,High Country Motel
20,Saint-Louis,SN,75.20,16.3333,-15.0000,
...,...,...,...,...,...,...
525,Nata,PA,75.00,8.3333,-80.5167,Cabañas Estancia Bayamon
527,Salinopolis,BR,80.22,-0.6136,-47.3561,Salinas Park Resort Maçarico AP101
528,Banda Aceh,ID,84.07,5.5577,95.3222,OYO 884 Rumoh PMI Hotel
539,Honiara,SB,75.78,-9.4333,159.9500,Heritage Park Hotel
552,Mareeba,AU,87.80,-17.0000,145.4333,Trinity Plains Tourist Park

In [36]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(marker_layer)
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [39]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [42]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))